@font-face {
    font-family: 'Space Grotesk';
    src: url(/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Space Grotesk Bold';
    src: url(/assets/fonts/static/SpaceGrotesk-Bold.ttf);
}

@font-face {
    font-family: 'Space Grotesk Medium';
    src: url(/assets/fonts/static/SpaceGrotesk-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk';
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
    background-color: #151515;
    color: white;
    height: 100vh;
    width: 100vw;
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20%;
}

/* NAVBAR */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
}

h1 {
    margin: 10%;
    font-size: 2rem;
}

nav li {
    margin: 0 18px;
}

/* PROFILE */
.profile {
    position: relative;
    bottom: 20%;
    max-width: 70%;
}

.rings {
    position: absolute;
    bottom: 65%;
    right: 60%;
}

.circle {
    position: relative;
    bottom: 42%;
    left: 50%;
}

/* PRESENTATION */
h2 {
    font-size: 2.5rem;
    margin: -20% 3%;
    font-family: 'Space Grotesk Bold';
}
span {
    text-decoration: underline #4EE1A0;
}

p {
    margin: 25% 6%;
    color: #D9D9D9;
    font-size: 1rem;
}

.contact {
    margin-top: -20%;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Space Grotesk Bold';
    text-decoration: underline #4EE1A0;
}

/* SEPARATION */
hr {
    width: 90%;
    margin-bottom: 15%;
}

/* MAIN */
.skills ul {
    display: flex;
    flex-direction: column;
}

.skills li {
    margin: 10% 0 0 0;
}

/* VIEW TABLETTE */
@media screen and (min-width: 640px) {
    body {
        display: flex;
    }

    /* HEADER */
    header {
        margin-bottom: -10%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        text-align: start;
    }

    /* NAVBAR */
    nav {
        flex-direction: row;
    }

    h1 {
        margin-left: 10%;
    }

    nav ul {
        margin-left: 50%;
    }

    nav ul li {
        margin-right: 10%;
    }

    /* PROFILE */
    section {
        display: flex;
        flex-direction: row-reverse;
    }

    article {
        margin-top: 5%;
    }

    .profile {
        position: relative;
        bottom: 20%;
        max-width: 50%;
        left: 7%;
    }

    .rings {
        position: absolute;
        bottom: 78%;
        right: 70%;
    }
    
    .circle {
        position: absolute;
        bottom: 35%;
        left: 97%;
    }

    h2 {
        margin: 20% 0 20% 10%;
        line-height: 3.6rem;
    }

    p{
        display: flex;
        text-align: start;
        margin: -10% 10%;
        line-height: 1.6rem;
    }

    .contact {
        display: flex;
        margin: 20% 10%;
        letter-spacing: 3px;
        font-family: 'Space Grotesk Medium';
        margin-bottom: 70%;
    }
    .contact:hover {
        display: flex;
        margin: 20% 10%;
        letter-spacing: 3px;
        font-family: 'Space Grotesk Medium';
        color: #4EE1A0;
    }

    hr {
        width: 90%;
    }

    /* MAIN */
    main {
        display: flex;
        text-align: start;
        justify-content: start;
        align-items: start;
        text-align: start;
    }

    .skills ul {
        display: grid;
        flex-direction: row;
        grid-template-columns: repeat(2, 1fr);
    }

    .skills li h2 {
        display: flex;
        text-align: start;
        /* margin: 10% 0; */
    }

    .skills li p {
        display: flex;
        text-align: start;
        margin: 10% 0;
    }
}


/* VIEW DESKTOP */
@media screen and (min-width: 768px) {
    nav ul li {
        margin: 0px;
        margin-right: 10%;
        display: flex;
        justify-content: end;
    }

    ul {
        display: grid;
        flex-direction: row;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem;
    }


    li h2 {
        display: flex;
        text-align: start;
        margin: 10% 0;
        font-size: 1.5rem;
    }

    li p {
        display: flex;
        text-align: start;
        margin: 10% 0;
    }
}