@font-face {
    font-family: 'Space Grotesk';
    src: url(/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Space Grotesk Bold';
    src: url(/assets/fonts/static/SpaceGrotesk-Bold.ttf);
}

@font-face {
    font-family: 'Space Grotesk Medium';
    src: url(/assets/fonts/static/SpaceGrotesk-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk';
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #151515;
    color: white;
    height: 100vh;
    width: 100vw;
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20%;
}

/* NAVBAR */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-direction: row;
}

h1 {
    margin: 10%;
    font-size: 2rem;
}

nav li {
    margin: 0 18px;
}

/* PROFILE */
.profile {
    position: relative;
    bottom: 20%;
    max-width: 70%;
}

.rings {
    position: absolute;
    bottom: 65%;
    right: 60%;
}

.circle {
    position: relative;
    bottom: 42%;
    left: 50%;
}

/* PRESENTATION */
.title {
    font-size: 2.5rem;
    margin: -20% 3%;
    font-family: 'Space Grotesk Bold';
}
span {
    text-decoration: underline #4EE1A0;
}

.p-title {
    margin: 25% 6%;
    color: #D9D9D9;
    font-size: 1rem;
}

.contact {
    margin-top: -20%;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Space Grotesk';
    border-bottom: 2px solid #4EE1A0;
    padding-bottom: 2%;
    letter-spacing: 1px;
}

/* SEPARATION */
hr {
    width: 90%;
    margin: 10% 0;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SKILLS */
.skills ul {
    display: flex;
    flex-direction: column;
}

.skills li {
    margin: 10% 0 0 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* PROJECTS */
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.projects-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10%;
    padding: 0;
}

.projects-title h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0 15px;
}

.projects-title a {
    font-size: 1.3rem;
    color: white;
    text-transform: uppercase;
    border-bottom: 2px solid #4EE1A0;
    padding-bottom: 2%;
    letter-spacing: 1px;
    margin: 0 15px;
}

.presentation {
    margin: 5% 0;
    padding: 0 15px;
    margin-bottom: 20%;
}

.presentation img {
    height: 280px;
    margin-bottom: 5%;
}

.presentation h3, .projects p {
    text-transform: uppercase;
    margin: 5% 0;
}

.presentation a {
    font-size: 1.3rem;
    color: white;
    text-transform: uppercase;
    border-bottom: 2px solid #4EE1A0;
    padding-bottom: 2%;
    margin: 0 15px 0 0;
    letter-spacing: 1px;
}

/* CONTACT */
.formulaire {
    background-color: #242424;
    width: 100%;
    padding: 15% 0;
}

.formulaire h2 {
    font-size: 2rem;
    text-align: center;
}

.formulaire .paragraph-formulaire {
    margin: 5% 8%;
    text-align: center;
}

form {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5%;
    border-bottom: 2px solid white;
}

input {
    width: 100%;
    background: none;
    border: none;
    border-bottom: 2px solid #9d9d9d;
    padding: 0 0 8% 10%;
    margin-bottom: 2%;
    font-size: 1.2rem;
    text-transform: uppercase;
}
input:focus {
    outline: none;
    color: white;
    border-bottom: 2px solid white;
}

button {
    background: none;
    text-transform: uppercase;
    color: white;
    border: none;
    border-bottom: 2px solid #4EE1A0;
    padding-bottom: 2%;
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin: 5% 0;
}

/* VIEW TABLETTE */
@media screen and (min-width: 640px) {
    body {
        display: flex;
    }

    /* HEADER */
    header {
        margin-bottom: -10%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        text-align: start;
    }

    /* NAVBAR */
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav {
        width: 100px;
        height: 3px;
        margin: 0 20%;
    }

    nav ul li {
        margin: 0 7px;
    }

    /* PROFILE */
    section {
        display: flex;
        flex-direction: row-reverse;
    }

    article {
        margin-top: 5%;
    }

    .profile {
        position: relative;
        bottom: 20%;
        max-width: 50%;
        left: 0%;
    }

    .rings {
        position: absolute;
        bottom: 78%;
        right: 70%;
    }
    
    .circle {
        position: absolute;
        bottom: 35%;
        left: 85%;
    }

    h2 {
        margin: 20% 0 20% 10%;
        line-height: 3.6rem;
    }

    p{
        display: flex;
        text-align: start;
        margin: -10% 10%;
        line-height: 1.6rem;
    }

    .contact {
        display: flex;
        margin: 20% 10%;
        letter-spacing: 3px;
        font-family: 'Space Grotesk Medium';
        margin-bottom: 70%;
    }
    .contact:hover {
        display: flex;
        margin: 20% 10%;
        letter-spacing: 3px;
        font-family: 'Space Grotesk Medium';
        color: #4EE1A0;
    }

    hr {
        width: 90%;
    }

    /* MAIN */
    main {
        display: flex;
        text-align: start;
        justify-content: start;
        align-items: start;
        text-align: start;
        margin: 0;
    }

    .skills ul {
        display: grid;
        flex-direction: row;
        grid-template-columns: repeat(2, 1fr);
    }

    .skills li h2 {
        display: flex;
        text-align: start;
        /* margin: 10% 0; */
    }

    .skills li p {
        display: flex;
        text-align: start;
        margin: 10% 0;
    }

    .projects {
        display: grid;
        flex-direction: column;
        grid-template-columns: repeat(2, 1fr);
    }

    .presentation img {
        height: 230px;
        margin-bottom: 5%;
    }
}


/* VIEW DESKTOP */
@media screen and (min-width: 768px) {
    /* nav ul li {
        margin: 0px;
        margin-right: 10%;
        display: flex;
        justify-content: end;
    } */

    .nav {
        width: 100px;
        height: 3px;
        margin: 0 15%;
    }

    nav ul li {
        margin: 0;
    }

    .profile {
        width: 100%;
    }

    ul {
        display: grid;
        flex-direction: row;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem;
    }


    li h2 {
        display: flex;
        text-align: start;
        margin: 10% 0;
        font-size: 1.5rem;
    }

    li p {
        display: flex;
        text-align: start;
        margin: 10% 0;
    }

    .skills ul {
        display: grid;
        flex-direction: row;
        grid-template-columns: repeat(3, 1fr);
    }


    .projects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .presentation img {
        height: 230px;
        margin-bottom: 5%;
        transition: 0.5s;
    }

    .presentation a:hover {
        color: #4EE1A0;
    }
}